/**
 * _shame.scss
 *
 * Need to write something hacky or smelly that you honestly intend to re-factor later? Dump it in here. But tidy up after yourself!
 * 
 */


#avatar-demo .avatar {
	margin:0 2rem 2rem 0;
}

#buttons-demo .button {
	margin:0 2rem 2rem 0;
}

#cards-demo {
	display:grid;
	grid-template-columns: repeat(4, 25%);
  	grid-column-gap: 2rem;
}

#icons-demo .icon {
	margin:0 2rem 2rem 0;
}

#tags-demo .tag {
	margin:0 1rem 1rem 0;
}

#alerts-demo {
	display:grid;
	grid-template-columns: repeat(3, 33%);
	grid-column-gap:2rem;
	grid-row-gap:2rem;
}

body { padding-bottom:$rhythm-large }